{% extends "base.html" %}
{% block content %}
<header class="masthead text-center text-white">
	<div class="masthead-content">
		<div class="container">
			<div class="jumbotron">
				<form action="{% url 'events:list' %}" method="GET">
					<div class="input-group mb-4">
						<input class="form-control" type="text" name='q' placeholder="Event title, content, or organizer..." value="{{request.GET.q}}">
						<div class="input-group-append">
							<button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
						</div>
					</div>
				</form>
				{% for event in events %}
					<a href="{% url 'events:detail' event.id %}" style="text-decoration: none; color: white;"><strong class="masthead-subheading mb-0">{{event.title|title}}</strong>
					<h4>Organized by: {{event.owner.get_full_name|title}}</h4></a>
					{% if not forloop.last %}
						<hr style='background-color:white'>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="bg-circle-1 bg-circle"></div>
	<div class="bg-circle-2 bg-circle"></div>
	<div class="bg-circle-3 bg-circle"></div>
	<div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}

<form action="{% url 'events:list' %}" method="GET">
	<div class="input-group mb-3">
		<input type="text" class="form-control" value="{{request.GET.q}}" name="q" placeholder="Event title, content, or organizer..." aria-label="Recipient’s username" aria-describedby="button-addon2">
		<div class="input-group-append">
			<button class="btn btn-outline-warning" type="button" id="button-addon2">Search</button>
		</div>
	</div>
</form>