{% extends "base.html" %}
{% block content %}
<header class="masthead text-center text-white">
	<div class="masthead-content">
		<div class="container">
			<div class="jumbotron">
				<form action="{% url 'events:list' %}" method="GET">
					<input type="text" name='q' placeholder="Search here..." value="{{request.GET.q}}">
					<input type="submit" class="btn btn-primary btn-sm mb-1" value="Search">
				</form>
				{% for event in events %}
					<a href="{% url 'events:detail' event.id %}" style="text-decoration: none; color: white;"><strong class="masthead-subheading mb-0">{{event.title}}</strong>
					<h4>Organized by: {{event.owner|title}}</h4></a>
					{% if not forloop.last %}
						<hr style='background-color:white'>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="bg-circle-1 bg-circle"></div>
	<div class="bg-circle-2 bg-circle"></div>
	<div class="bg-circle-3 bg-circle"></div>
	<div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}