{% extends "base.html" %}
{% block content %}
<header class="masthead text-center text-white">
	<div class="masthead-content">
		<div class="container">
			<div class="jumbotron">
				{% if user.avatar %}
					<img src="{{ user.avatar.url }}">
				{% else %}
					<div class="mx-auto" style="width: 200px;">
						<div class="d-flex justify-content-center align-items-center rounded" style="height: 200px; background-color: rgb(233, 236, 239);">
							<span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">200x200</span>
						</div>
					</div>
				{% endif %}
				<br>
				<strong class="masthead-subheading mb-0">{{user.get_full_name|title}}</strong>
			</div>
		</div>
	</div>
	<div class="bg-circle-1 bg-circle"></div>
	<div class="bg-circle-2 bg-circle"></div>
	<div class="bg-circle-3 bg-circle"></div>
	<div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock content %}